/* app Item */
.apps-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-left: 0px;
  flex-wrap: wrap;
  list-style-type: none;
}
.app-item {
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 7px;
  padding: 20px;
  margin-right: 5px;
}
.app-image {
  height: 50px;
  width: 100px;
}
.name {
  color: #1e293b;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Bree Serif';
}
@media screen and (max-width: 576px) {
  .app-item {
  }
}
